<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Creative Web Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <h1>Emotion Detection App</h1>

    <p>Upload an image and discover the emotions within!</p>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="image">
            <input type="file" name="image" accept="image/*" required>
        </label>
        <br>
        <button type="submit">Detect Emotions</button>
    </form>

    {% if result_image_path %}
    <div class="result-container">
        <h2>Result: {{predicted_label}}</h2>
        <p>Emotion Detected: {{ emotion }}</p>
        <img src="{{ url_for('static', filename='uploads/result_image.jpg') }}" alt="Result Image">
    </div>
    {% endif %}

</body>

</html>